{% extends 'short/base.html' %}
{% block base %}

<div class="container" style="width: 70%;">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
            <form action="" method="POST">
                {% csrf_token %}
                {% for data in form %}
                    {{data}} 
                {% endfor %}
        
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                <div class="d-grid">
                    <input type="submit" value="Login" class="btn btn-dark btn-block mb-3">
                </div>
                <div class="text-center">
                    <p>Dont't have a acccount? <a href="{% url 'signup' %}" class="btn btn-primary btn-sm"> SignUp</a></p>
                </div>
            </form>

        </div>
    </div>

</div>

{% endblock %}