{% extends 'short/base.html' %}

{% block base %}

<div class="container" style="width: 60%;">
    <div class="row">
        <div class="col-4 offset-4 text-center box">
            <form action="" method="POST">
                {% csrf_token %}
                {% for data in form %}
                    {{data}} 
                {% endfor %}
        
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
        
                <input type="submit" value="SignUp" class="btn btn-primary mb-3">
            </form>

        </div>
    </div>

</div>

{% endblock %}